/* Start Responsive Shim stack CSS code */.stacks_in_28shim{	padding-top: 3%;}/* End Responsive Shim stack CSS code *//* Start Responsive Shim stack CSS code */.stacks_in_29shim{	padding-top: 3%;}/* End Responsive Shim stack CSS code *//*
 * Simple Divider Pro
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-divider/
 * Support: support@1littledesigner.com
 * Version 1.4.2
 */

#simpleDivider_stacks_in_25 {
	width: 100%;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}
#simpleDivider_stacks_in_25 .theDivider1,
#simpleDivider_stacks_in_25 .theDivider2 {
	width: inherit;
}
#simpleDivider_stacks_in_25 .theDivider1 {
	height: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
}
#simpleDivider_stacks_in_25.transparentOff .theDivider1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #CCCCCC;
	border-bottom-color: #FFFFFF;
}
#simpleDivider_stacks_in_25.transparentOn .theDivider1 {
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_25 .theDivider2 {
	height: 4px;
}
#simpleDivider_stacks_in_25.transparentOff .theDivider2 {
	background-color: #E0E0E0;
}
#simpleDivider_stacks_in_25.transparentOn .theDivider2 {
	background-color: transparent;
}
#simpleDivider_stacks_in_25.bgImageOn .theDivider2 {
	background: transparent url() repeat;
	overflow: visible;
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_25.bgImageOn .theDivider1 img {
	display: block;
}


.spacerStack {
	height: 40.00px;
}

#spacerStackstacks_in_30 {
	height: 40.00px;
}




















@media print {
	#spacerStackstacks_in_30 {
		display: none !important;
	}
}
/*
 * Simple Divider Pro
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-divider/
 * Support: support@1littledesigner.com
 * Version 1.4.2
 */

#simpleDivider_stacks_in_22 {
	width: 100%;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}
#simpleDivider_stacks_in_22 .theDivider1,
#simpleDivider_stacks_in_22 .theDivider2 {
	width: inherit;
}
#simpleDivider_stacks_in_22 .theDivider1 {
	height: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
}
#simpleDivider_stacks_in_22.transparentOff .theDivider1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #CCCCCC;
	border-bottom-color: #FFFFFF;
}
#simpleDivider_stacks_in_22.transparentOn .theDivider1 {
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_22 .theDivider2 {
	height: 4px;
}
#simpleDivider_stacks_in_22.transparentOff .theDivider2 {
	background-color: #E0E0E0;
}
#simpleDivider_stacks_in_22.transparentOn .theDivider2 {
	background-color: transparent;
}
#simpleDivider_stacks_in_22.bgImageOn .theDivider2 {
	background: transparent url() repeat;
	overflow: visible;
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_22.bgImageOn .theDivider1 img {
	display: block;
}


.spacerStack {
	height: 40.00px;
}

#spacerStackstacks_in_31 {
	height: 40.00px;
}




















@media print {
	#spacerStackstacks_in_31 {
		display: none !important;
	}
}
#stacks_in_8>.s3_row {
	margin: 0 -10px;
}

#stacks_in_8>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_8>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_8>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_8>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





