/* Font style applied when the page has finished loading */

#ExtraContentPlusstacks_in_456 #myExtraContent1,
#ExtraContentPlusstacks_in_456 #fs {
	display: none;
}

/* Start Responsive Shim stack CSS code */.stacks_in_33shim{	padding-top: 3%;}/* End Responsive Shim stack CSS code */
#stacks_in_108 .pullquote {
font-size:1.25em;
display:block;

padding:2.5em 0.5em;

font-style:italic;
}


#stacks_in_108 .pullquote:before, #stacks_in_108 .pullquote:after {
display:block;
position:relative;
font-size:100px;
line-height:0px;
overflow:display;
text-align:left;
font-style:normal;
opacity:0.25;
}
	
#stacks_in_108 .pullquote:before {
content:"\201C";
top:5px;
left:-5px;
}
	
#stacks_in_108 .pullquote:after {
content:"\201D";
bottom:-40px;
right:-5px;
text-align:right;
}


#stacks_in_108 .pullquote-source {
font-size:0.65em;
text-align:right;
font-style:normal;
}

#stacks_in_108 .pullquote-source:before {
	content:"\2014\200A";
	font-style:normal;
}
.spacerStack {
	height: 10.00px;
}

#spacerStackstacks_in_460 {
	height: 10.00px;
}




















@media print {
	#spacerStackstacks_in_460 {
		display: none !important;
	}
}

#stacks_out_80 {
	width: 19%;
}

.spacerStack {
	height: 10.00px;
}

#spacerStackstacks_in_90 {
	height: 10.00px;
}




















@media print {
	#spacerStackstacks_in_90 {
		display: none !important;
	}
}
#stacks_in_75>.s3_row {
	margin: 0 -10px;
}

#stacks_in_75>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_75>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_75>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_75>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_75>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_75 {
	margin:  5px;
	padding:  5px;
}

#stacks_out_28 {
	width: 800px;
}

#stacks_out_78 {
	width: 800px;
}
/* Start Responsive Shim stack CSS code */.stacks_in_95shim{	padding-top: 3%;}/* End Responsive Shim stack CSS code */